body{
    background-color: coral;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 45%;
    margin: auto;
    /* margin-right: 45rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speed{
    width: 45%;
    position: relative;
    left: 5rem;
    display: block;
    text-align: center;
    display: flex;
}

h1{
    font-family: cursive;
    font-size: 21px;
}

.speed h1{
    text-align: center;
    width: 50%;
    background-color: #00000075;
    border-radius: 9px;
    margin-right: 2px;
    /* margin-right: 3px; */
}
input{
    position: relative;
    top: 21px;
    height: 1rem;
    width: 18px;
    border: none;
    border-radius: 5px;
}

input:hover,input:focus{
    outline: none;
    cursor: pointer;
}

::placeholder{
    text-align: center;
    font-weight: 1000;
    color: black;
}